---
interface Props {
  title?: string;
  href?: string;
}

const { title ,href } = Astro.props;
---

<a
  href={href}
  class="sbox shadow1 hover:shadow1 relative bottom-10 left-0 border rounded-full inline-block border-white px-10 py-6 justify-self-end hover:bg-white hover:text-black duration-500 font-semibold" 
       
>
  <div class="">

    {title}

  </div>
</a>

<style>
 .shadow1{
    text-shadow: 0 0 10px rgba(247, 245, 133, 0.9);
    }
    .sbox{
            box-shadow: 0 0 10px rgba(247, 245, 133, 0.9);
    }


</style>