---
interface Props {
  class?: string;
  title: string;
  href?: string;
  
}
const { href, title } = Astro.props;
---

<a
  class={`   ${Astro.props.class}
      relative
       rounded-xl shadow-2xl mx-52 my-32 lg:m-0 shadow-yellow-300/10
       hover:shadow-yellow-300/65 transition-shadow overflow-hidden
     `}
  href={href}

  data-pswp-width="2500"
  data-pswp-height="1800"
  target="_blank"
>
  <slot name="video" />
  <div class="flex flex-col gap-1 p-6 text-lg z-20 justify-end h-full">
    <h2 class="text-3xl font-semibold text-balance text-white">{title}</h2>
  </div>
</a>

