---
import "photoswipe/style.css";
import GaleriaItems from "./GaleriaItems.astro";
---

<div
  class="grid grid-cols-1 lg:grid-cols-3 lg:m-10 max-w-6xl gap-2 lg:gap-36  lg:mx-auto lg:py-20 items-center content-center"
  id="gallery"
>
  <GaleriaItems
    class=""
    title="NICOLE"
    href="https://i.ibb.co/QrT0BvG/nicole1.png"
  >
    <div slot="video">
      <video
        src="/nicoleclip.mp4"
        autoplay
        loop
        muted
        class="rounded-xl left-0 top-0 bottom-0 w-full h-full object-cover"
      >
      </video>
    </div>
  </GaleriaItems>

  <GaleriaItems
    class=""
    title="VANESSA"
    href="https://i.ibb.co/0VQGFxQ/vanessa22222.png"
  >
    <div slot="video">
      <video
        src="/vanesa222.mp4"
        autoplay
        loop
        muted
        class="rounded-xl left-0 top-0 bottom-0 w-full h-full object-cover"
      >
      </video>
    </div>
  </GaleriaItems>

  <GaleriaItems
    class=""
    title="MARIANA"
    href="https://i.ibb.co/GpP2tDF/mariana1.png"
  >
    <div slot="video">
      <video
        src="/mariana.mp4"
        autoplay
        loop
        muted
        class="rounded-xl left-0 top-0 bottom-0 w-full h-full object-cover"
      >
      </video>
    </div>
  </GaleriaItems>
  
  <GaleriaItems
  class=""
  title=""
  href="https://i.ibb.co/d4YfQ2V/Nicole.jpg"
>
  </GaleriaItems>

  <GaleriaItems
  class=""
  title=""
  href="https://i.ibb.co/dKKv7Sw/nicole292.png"
  >
  </GaleriaItems>

</div>


<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
