<header 
    id="header-nav"
    class="fixed w-screen py-2 z-50 top-0 px-8 lg:px-0"
>
    <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <a href="/" class="col-span-1">
            <img src="./logo.jpg" alt="Logo" class="w-12 h-auto  rounded-full">
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-4 text-1xl md:text-3xl">
                <li>
                    <a href="./" class="hover:underline">
                    Inicio
                    </a>
                </li>
                <li>
                    <a href="./productos" class="hover:underline">
                    Productos
                    </a>
                </li>
                <li>
                    <a href="./productos">
                    Tiendas
                    </a>
                </li>
                <li>
                    <a href="./productos">
                    Contacto
                    </a>
                </li>
            </ul>
        </nav>
        <a 
           href="#"
           class="border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-500 " 
       >
           GALERIA
        </a>
    </div>
</header>