--- 

import Face from '../icons/redes/facebook.svg'
---


<section class="text-xl text-left px-20 max-w-[90ch] text-pretty mx-auto my-24">
    <img class="w-16 mb-10 m-auto" src="/logo.jpg" alt="Logo Bellagio">
    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        Bienvenidos a <br> Muebles Bellagio 
    </h1>
    <p>¿Ya preguntaste por nuestros precios especiales de <strong>#HomeWeek ?</strong>, tenemos ofertas que no puedes perder..</p>
    <br>

    <p>Ven a Muebles Bellagio y aprovecha para comprar tu mobiliario nuevo con los mejores descuentos...</p>
    <br>

    <p>Recibe asesoría personalizada a través del link de nuestra Biografía. ingresa a nuestras redes sociales y apoyanos con un <strong>ME GUSTA</strong></p>

  

</section>