---
import Espejos1 from "../components/Espejos.astro";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muebles Bellagio - Modulares ." description="Muebles Bellagio, muebles de calidad.. Descubre nuestras ofertas.!">

    <main class="  pt-10">
        
        <Espejos1 />
        


    </main>

</Layaut>