---
import Layout from "../layouts/Layout.astro";
import Video from "../components/comPaginas/Video.astro";
import Buttons from "../components/comPaginas/Buttons.astro";
import Footer from "../components/comPaginas/Footer.astro";
import HeroContainer from "../components/comPaginas/HeroContainer.astro";
---

<Layout
  title="Muebles Bellagio - 🖥."
  description="Muebles Bellagio, muebles de calidad.. Descubre nuestras ofertas.!"
>
	<!-- HERO -->
  <HeroContainer src="https://i.ibb.co/9G0bfpF/karen32.png" />
  <div
    class="absolute inset-0 m-auto -w-full -h-full flex justify-center flex-col items-center"
  >
    <Buttons 
		title="GALERIA" 
		href="./galeria" 
		classe="relative bottom-10 left-0 border rounded-full inline-block border-white px-10 py-6 justify-self-end hover:bg-white hover:text-black duration-500"
	/>
  </div>

  	<!-- MAIN -->
  <main>

  </main>

  <!-- FOOTER -->
  <Footer />
</Layout>

<style></style>
