---
import Layout from '../layouts/Layout.astro';
import Bento from '../components/comPaginas/Bento.astro';
import Video from '../components/comPaginas/Video.astro';
import Productos from '../components/comProductos/Productos.astro';
import Tiendas from '../components/Tiendas.astro';
import PreFooter from '../components/comPaginas/PreFooter.astro';
import Intro from '../components/comPaginas/Intro.astro';
import Footer from '../components/comPaginas/Footer.astro';
---

<Layout title="Muebles Bellagio - 🖥." description="Muebles Bellagio, muebles de calidad.. Descubre nuestras ofertas.!">
	<Video src='/video2.mp4'/>
	<main>
		<Intro />
		<!-- <Productos /> -->
		<Bento />
		<Tiendas />
		<PreFooter />
	</main>
	<Footer />
</Layout>

<style></style>
