---
import Layout from '../layouts/Layout.astro';
import Bento from '../components/Bento.astro';
import Video from '../components/Video.astro';
import Productos from '../components/Productos.astro';
import Tiendas from '../components/Tiendas.astro';
import PreFooter from '../components/PreFooter.astro';
import Intro from '../components/Intro.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Muebles Bellagio - 🖥." description="Muebles Bellagio, muebles de calidad.. Descubre nuestras ofertas.!">
	<Video />
	<main>
		<Intro />
		<!-- <Productos /> -->
		<Bento />
		<Tiendas />
		<PreFooter />
	</main>
	<Footer />
</Layout>

<style></style>
