---
import Modulares1 from "../components/Modulares.astro";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muebles Bellagio - Modulares ." description="Muebles Bellagio, muebles de calidad.. Descubre nuestras ofertas.!">

    <main class="  pt-10">
        
        <Modulares1 />
        


    </main>

</Layaut>