---
import Productos1 from "../components/comProductos/Productos.astro";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muebles Bellagio - 🖥." description="Muebles Bellagio, muebles de calidad.. Descubre nuestras ofertas.!">

    <main>

            <Productos1 />

    </main>

</Layaut>
