---
import BentoItem from "./BentoItem.astro";
---

<section
    class={`
        w-full max-w-[1400]
        grid grid-cols-10 auto-rows-[30rem] gap-4
        mx-auto p-20 
    `}
>
    <BentoItem 
        class="col-span-10 md:col-span-4" 
        title="Modulares" 
        subtitle="Nicol" 
    >
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
            style="background-image: url('ILUSSION.webp');"    
        >   
        </div>
        <p slot="contenido" class="max-x-xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius earum modi ex quo voluptatum, nihil suscipit magni expedita obcaecati hic doloremque excepturi facere, nostrum nulla optio a molestias provident sunt.
        </p>
    </BentoItem>

    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="Espejos" 
        subtitle="Osiris"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/gVQ58FH/ESPEJO1.jpg');"    
    >   
    </div>
        <p  slot="contenido" class="max-x-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quas consequuntur, numquam nostrum similique officiis fugiat voluptatum cumque in quam velit architecto temporibus eligendi error blanditiis, vel, et deserunt quidem!</p>
    </BentoItem>

    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="Dormitorios" 
        subtitle="Aluminio"
    >
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
            style="background-image: url('https://i.ibb.co/jWvLNv1/DORMITORIO-ALUMINIO2.jpg');"    
        >   
        </div>
        <p slot="contenido" class="max-x-xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius earum modi ex quo voluptatum, nihil suscipit magni expedita obcaecati hic doloremque excepturi facere, nostrum nulla optio a molestias provident sunt.
        </p>
    </BentoItem>

    <BentoItem 
        class="col-span-10 md:col-span-4" 
        title="Poltronas" 
        subtitle="Icon"
    >
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
            style="background-image: url('ILUSSION.webp');"    
        >   
        </div>
        <p slot="contenido" class="max-x-xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius earum modi ex quo voluptatum, nihil suscipit magni expedita obcaecati hic doloremque excepturi facere, nostrum nulla optio a molestias provident sunt.
        </p>
    </BentoItem>

    <BentoItem 
        class="col-span-10 md:col-span-4" 
        title="Comedores" 
        subtitle="Davinci"
    >
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
            style="background-image: url('ILUSSION.webp');"    
        >   
        </div>
        <p slot="contenido" class="max-x-xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius earum modi ex quo voluptatum, nihil suscipit magni expedita obcaecati hic doloremque excepturi facere, nostrum nulla optio a molestias provident sunt.
        </p>
    </BentoItem>

    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="Mesa de Centro" 
        subtitle="Glitter"
    >
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
            style="background-image: url('ILUSSION.webp');"    
        >   
        </div>
        <p slot="contenido" class="max-x-xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius earum modi ex quo voluptatum, nihil suscipit magni expedita obcaecati hic doloremque excepturi facere, nostrum nulla optio a molestias provident sunt.
        </p>
    </BentoItem>

</section>