<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto my-24">
    <img class="w-16 mb-10 m-auto" src="/logo.jpg" alt="Logo Bellagio">
    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        Bienvenidos a <br> MUEBLES BELLAGIO
    </h1>
    <p>¿Ya preguntaste por nuestros precios especiales de <b>#HomeWeek ?</b></p>
    <br>

    <p>Ven a Muebles Bellagio y aprovecha para comprar tu mobiliario nuevo con los mejores descuentos.</p>
    <br>

    <p>Recibe asesoría personalizada a través del link de nuestra Biografía.</p>
</section>