---

import ProductosItems from "./ProductosItems.astro";
---

<section
    class={`
        w-full max-w-[1400px]
        grid lg:grid-cols-10 auto-rows-[20rem] gap-4
        mx-auto p-6 md:p-12 lg:p-20 
    `}
>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Marbella" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/fXfS3DL/MODULAR-MARBELLA.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Nicole"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/d4YfQ2V/Nicole.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Elegance"
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/nkRM6mf/MODULAR-ANDREA.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Esmeralda" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/z2dBF3D/Esmeralda-Modular.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Sofacamas" 
        href="./sofacamas"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/Yb83ymD/SOFACAMA-ACANALADO.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Poltronas" 
        href="./poltronas"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/Gp4V47w/Togo-Amarilla.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Mesa de Centro"
        href="./mesacentro" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/KVYNwmX/MESACENTRO-GLITTER.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Mesa TV" 
        href="mesatv"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/gVQ58FH/ESPEJO1.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="Comedores"
        href="comedores" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/fFzJLmL/COMEDOR-FOSTER.jpg');"    
    >   
    </div>
    </ProductosItems>
  

</section>