<div class="w-full relative h-screen">
    <video 
        src="/video.mp4" 
        autoplay 
        loop 
        muted  
        class="w-full h-fit object-fill aspect-video animate-fade-in animate-ease-in animate-duration-1000"
        style="clip-path: polygon(0 0, 100% 0, 100% 95%, 55% 100%, 50% 100%, 0 95%);">
    </video>
</div>
