<div class="w-full relative place-content-center">
    <video 
        src="/video2.mp4" 
        autoplay 
        loop 
        muted  
        class="absolute  h-full w-full top-0 start-0 blur-3xl -z-10"
        style="">
    </video>
    <video 
        src="/video2.mp4" 
        autoplay 
        loop 
        muted  
        class="w-full h-auto object-cover aspect-square md:aspect-video animate-fade-in animate-ease-in animate-duration-1000 aspect-ratio-8/10"
        style="clip-path: polygon(0 0, 100% 0, 100% 95%, 55% 100%, 50% 100%, 0 95%);">
    </video>
</div>
