---

import ProductosItems from "./ProductosItems.astro";
---



<section
    class={`
        w-full max-w-[1400px]
        grid lg:grid-cols-10 auto-rows-[30rem] gap-4
        mx-auto p-6 md:p-12 lg:p-20 
    `}
>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="MARBELLA" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/fXfS3DL/MODULAR-MARBELLA.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="NICOLE"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/d4YfQ2V/Nicole.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="ELEGANCE"
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/nkRM6mf/MODULAR-ANDREA.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="ESMERALDA" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/z2dBF3D/Esmeralda-Modular.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="LESLIE" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/Tg0hDP8/E0703-NICMODULAR-IMAGEN-151412.jpg');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="LINCON" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/5G2Rqvd/lincon.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="VENUS"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/zFV2FVg/venus1.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="MARIAN" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/hB8Jgk1/marian3.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="GRECIA"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/59mx3js/greciam2.png');"    
    >   
    </div>
    </ProductosItems>
  
    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="MARIANA"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/D9g8XWc/mariana2.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="ACUARIO"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/4FZb5j3/acuario2.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="EVEREST"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/Dz59bFH/everest3.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="DUBLIN"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/wNMyzsX/dublin2.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="DUBAI"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/t35vjMQ/dubai1.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="OPERA"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/sjxPjRj/opera1.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="ALAIA"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/d2mNDvG/alaia1.png');"    
    >   
    </div>
    </ProductosItems>
    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="DUBAI"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/t35vjMQ/dubai1.png');"    
    >   
    </div>
    </ProductosItems>
    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="DUBAI"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/t35vjMQ/dubai1.png');"    
    >   
    </div>
    </ProductosItems>
    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="DUBAI"
        href="./modulares" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/t35vjMQ/dubai1.png');"    
    >   
    </div>
    </ProductosItems>

</section>
