---

import ProductosItems from "./ProductosItems.astro";
---



<section
    class={`
        w-full max-w-[1400px]
        grid lg:grid-cols-10 auto-rows-[30rem] gap-4
        mx-auto p-6 md:p-12 lg:p-20 
    `}
>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="MARBELLA" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/fXfS3DL/MODULAR-MARBELLA.jpg');"    
    >   
    </div>
    </ProductosItems>
    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="MARBELLA" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/fXfS3DL/MODULAR-MARBELLA.jpg');"    
    >   
    </div>
    </ProductosItems>



   
</section>
