---

import ProductosItems from "./ProductosItems.astro";
---



<section
    class={`
        w-full max-w-[1400px]
        grid lg:grid-cols-10 auto-rows-[30rem] gap-4
        mx-auto p-6 md:p-12 lg:p-20 
    `}
>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="IMPERIO" 
        href="./sofas"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/x7M7Nws/imperios1.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="ESMERALDA"
        href="./sofas" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/p3qgsCQ/Esmeralda.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="LONDON RECLINABLE"
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/g41VfW0/londonrecl.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="MARIAN" 
        href="./modulares"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/D1Hr7Sb/marian3.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="DUBAI" 
        href="./sofas"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/2n8R2xg/dubai.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="LONDON DOBLE RECLINABLE" 
        href="./sofas"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/Yb872Rr/londoblerecl.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="MILORD"
        href="./sofas" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/LC3rK5X/milor.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="PAMPATAR" 
        href="./sofas"
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/NnS97Lb/pampatar4.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="NERY"
        href="./sofas" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/jMwTw98/nery4.png');"    
    >   
    </div>
    </ProductosItems>
  
    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="NERY"
        href="./sofas" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/9pYRFDS/elby.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="KAREN"
        href="./sofas" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/9G0bfpF/karen32.png');"    
    >   
    </div>
    </ProductosItems>

    <ProductosItems
        class="col-span-10 md:col-span-5" 
        title="SALOME"
        href="./sofas" 
    >
    <div 
        slot="image" 
        class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-blend-luminosity bg-cover bg-no-repeat bg-black-950 -z-20 animate-blurred-fade-in"
        style="background-image: url('https://i.ibb.co/njRgWpn/bahamas2.png');"    
    >   
    </div>
    </ProductosItems>
   
</section>
